@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 14px;
	min-height: 0vw;
}

:root,
body,
#__next {
	height: 100%;

	-webkit-tap-highlight-color: transparent;
}

b {
	@apply font-semibold;
}

@layer base {
	html {
		@apply text-gray-900;
	}

	@font-face {
		font-family: 'InterVar';
		font-weight: 100 900;
		font-display: swap;
		font-style: normal;
		font-named-instance: 'Regular';
		src: url('/fonts/Inter.var.woff2?v=3.19') format('woff2-variations'),
			url('/fonts/Inter.var.woff2?v=3.19') format('woff2');
	}
}

@layer utilities {
	.font-display {
		font-variation-settings: 'opsz' 48;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
		-webkit-appearance: none;
	}

	.material-symbols-outlined {
		--fill: 0;
		--weight: 400;
		--grade: 0;
		--optical-size: 20;

		font-size: 1.5rem;
		font-variation-settings: 'FILL' var(--fill), 'wght' var(--weight),
			'GRAD' var(--grade), 'opsz' var(--optical-size);
	}
}
