@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	min-height: 0vw;
	font-family: var(--font-inter);
	height: 100%;
}

body {
	font-size: 13px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#__next {
	display: contents;
}

/* Chrome, Safari, Edge, Opera */
input.no-arrows::-webkit-outer-spin-button,
input.no-arrows::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input.no-arrows[type='number'] {
	-moz-appearance: textfield;
}

.markdownanswer a:hover {
	opacity: 0.8;
}

.markdownanswer a {
	text-decoration: underline;
}

.markdownanswer code {
	color: #15cb19;
	font-weight: 500;
	white-space: pre-wrap !important;
}

.markdownanswer ol,
.markdownanswer ul {
	margin: 1rem;
}

.boticon,
.usericon {
	margin-right: 1rem;
	border-radius: 0.1rem;
	height: 100%;
}

.markdownanswer h1,
.markdownanswer h2,
.markdownanswer h3 {
	font-size: inherit;
}

b {
	@apply font-semibold;
}

@layer utilities {
	.text-2xl.font-display {
		font-variation-settings: 'opsz' 40;
	}
	.text-xl.font-display {
		font-variation-settings: 'opsz' 28;
	}
	.text-lg.font-display {
		font-variation-settings: 'opsz' 20;
	}

	.text-3xl.font-display,
	.text-4xl.font-display,
	.text-5xl.font-display {
		font-variation-settings: 'opsz' 60;
	}

	.text-4xl,
	.text-3xl,
	.text-2xl,
	.text-xl {
		font-variation-settings: 'opsz' 32;
	}

	.text-lg {
		font-variation-settings: 'opsz' 24;
	}

	.text-sm {
		font-variation-settings: 'opsz' 12;
	}

	.material-symbols-outlined {
		--optical-size: 24;
		--grade: 0;
		--weight: 400;
		--fill: 0;

		font-size: 24px;

		font-variation-settings: 'FILL' var(--fill), 'wght' var(--weight),
			'GRAD' var(--grade), 'opsz' var(--optical-size);
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
		-webkit-appearance: none;
	}
}
